*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  align-items: center;
  flex-direction: column;
  display: flex;
  background: linear-gradient(to right, rgb(202, 202, 202), rgb(91, 110, 122));
}

h1{
  font-size: 35px;
}

#corpo-lista{
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 15px;
  height: 400px;
  background-color: rgba(91, 110, 122, 0.25);
  overflow: auto;
  scroll-behavior: smooth;
}

#entrada{
  border: none;
  border-radius: 10px;
  padding: 5px;
}

#botao-adicionar{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

#botao-adicionar:hover{
  background-color: rgb(95, 110, 121);
  scale: 110%;
}

#linha{
  border: 1px dashed black;
  width: 25%;
}

button{
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover{
  background-color: rgb(95, 110, 121);
  scale: 110%;
}

.mudar{
  color: red;
}

li{
  transition: .2s;
}

#sumir{
  background-color: white;
  width: 50px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 35%;
  cursor: pointer;
  font-size: 15px;
}

#pesquisa{
  border: none;
  border-radius: 10px;
  padding: 5px;
}

#pesquisarTxt{
  margin-left: 5%;
}